<nav class="navbar navbar-expand-md navbar-light sticky-top border-bottom">
    <div class="container">
        <img src="../../../assets/oracle-logo.png" height="16px" alt="" class="d-inline-block pe-2">
        <a class="navbar-brand text-center" href="#">
            O-Wiki 
            <h6 style="font-size: 10px;"><b>(Developed by Team Integration)</b></h6>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="search" routerLinkActive="active" aria-current="page">Search</a>
                <a class="nav-link" routerLink="sql-help" routerLinkActive="active" aria-current="page">SQL</a>
                <a class="nav-link" routerLink="history" routerLinkActive="active" aria-current="page">History</a>
                <a class="nav-link" routerLink="about" routerLinkActive="active" aria-current="page">About</a>
            </div>
        </div>
    </div>
</nav>