<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <div class=" text-center align-items-center">
                <b style="font-size: small; padding: 2%; background-color: rgb(175, 43, 43); letter-spacing: 5px;border-radius: 10px; color: white;">About Us</b>
            </div>
            <div class="row mt-3 d-flex align-items-center justify-content-center">
                <div class="col-sm-6">
                    <div class="search-card container mt-4 text-center">
                        <h6><b>SUJITH ANUMALA</b></h6>
                        <h6>AI/ML Model Development</h6>
                        <h6>Integration</h6>
                        <div class="row mt-2">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="https://www.linkedin.com/in/sujith-anumala/" target="_blank"><img src="../../../../assets/linkedin.svg" height="35px"></a>
                            </div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="https://github.com/sujith2303" target="_blank"><img src="../../../../assets/github.svg" height="35px"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-card container mt-4 text-center">
                        <h6><b>SATEESH BALAGA</b></h6>
                        <h6>Front End Development</h6>
                        <h6>Integration</h6>
                        <div class="row mt-2">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="https://www.linkedin.com/in/sateesh-balaga-816sb/" target="_blank"><img src="../../../../assets/linkedin.svg" height="35px"></a>
                            </div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="https://github.com/hseetas25" target="_blank"><img src="../../../../assets/github.svg" height="35px"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-card container mt-4 text-center">
                        <h6><b>NAGARAJU ALAPATI</b></h6>
                        <h6>Idea Presenter</h6>
                        <h6>Integration</h6>
                        <div class="row mt-2">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="" target="_blank"><img src="../../../../assets/linkedin.svg" height="35px"></a>
                            </div>
                            <div class="col-sm-3">
                                <a class="nav-link" href="" target="_blank"><img src="../../../../assets/github.svg" height="35px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <b style="font-size: small; padding: 2%; background-color: rgb(175, 43, 43); letter-spacing: 5px;border-radius: 10px; color: white;">Frameworks</b>
            </div>
            <div class="row mt-3 d-flex align-items-center justify-content-center">
                <div class="col-sm-6">
                    <div class="search-card container mt-4">
                        <h6 class="text-center"><b>LLMs Used</b></h6>
                        <ul>
                            <li>FineTuned LLaMA 3.2 1B</li>
                            <li>Code LLaMA </li>
                            <li>Google Codegemma-2b</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-card container mt-4">
                        <h6 class="text-center"><b>Front End Development</b></h6>
                        <ul>
                            <li>Angular - 17.3.0v</li>
                            <li>Node - 20.12.2v </li>
                            <li>NPM - 10.5.0v</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-card container mt-4">
                        <h6 class="text-center"><b>Deployment</b></h6>
                        <ul>
                            <li>Hugging Face</li>
                            <li>Google Firestore</li>
                            <li>Firebase Cloud Hosting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>