<div class="container mx-2 mt-3">
    <div class="row" *ngIf="!searched && !dataRetrieved">
        <div class="col-sm-3">
            <div class="text-center mt-4">
                <button class="btn btn-primary" *ngIf="!secondTable" (click)="addTable()">Add Table</button>
            </div>
        </div>
        <div class="col-sm-7 justify-content-center">
            <h5 class="fw-bold">Table-I Schema:</h5>
            <div class="col-sm-6 mt-2">
                <label class="fw-bold">Table Name</label>
                <input type="text" id="tableName" class="form-control mt-2">
            </div>
            <div class="row">
                <div class="col-sm-5 mt-2">
                    <label class="fw-bold">Primary key <small style="font-size: 6px;">(Optional)</small></label>
                    <input type="text" id="pkValue" class="form-control mt-2">
                </div>
                <div class="col-sm-5 mt-2">
                    <label class="fw-bold">Data Type <small style="font-size: 6px;">(Optional)</small></label>
                    <input type="text" id="pkDataType" class="form-control mt-2">
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <button class="btn btn-primary" style="color: white;" (click)="addField()" >Add Field <img src="../../../../assets/plus-solid.svg" height="20px"></button>
                </div>
            </div>
            <form [formGroup]="fieldsForm">
                <div formArrayName="fields" class="row">
                    <div class="row" [formGroupName]="i" *ngFor="let fieldValue of fieldsFormArray.controls ; let i=index">
                        <div class="col-sm-5 mt-3" >
                            <label class="fw-bold"> Field Name</label>
                            <input type="text" class="form-control" formControlName="field">
                        </div>
                        <div class="col-sm-5 mt-3">
                            <label class="fw-bold">Data Type</label>
                            <input type="text" class="form-control" formControlName="dataType">
                        </div>
                        <div class="col-sm-2 mt-5">
                            <img src="../../../../assets/trash-solid.svg" height="15px" (click)="removeForm(i)">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row mt-3" *ngIf="secondTable && !searched && !dataRetrieved">
        <div class="col-sm-3"></div>
        <div class="col-sm-7 justify-content-center">
            <b><hr></b>
            <h5 class="fw-bold mt-3">Table-II Schema:</h5>
            <div class="col-sm-6 mt-2">
                <label class="fw-bold">Table Name</label>
                <input type="text" id="tableName1" class="form-control mt-2">
            </div>
            <div class="row">
                <div class="col-sm-5 mt-2">
                    <label class="fw-bold">Primary key <small style="font-size: 6px;">(Optional)</small></label>
                    <input type="text" id="pkValue1" class="form-control mt-2">
                </div>
                <div class="col-sm-5 mt-2">
                    <label class="fw-bold">Data Type <small style="font-size: 6px;">(Optional)</small></label>
                    <input type="text" id="pkDataType1" class="form-control mt-2">
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <button class="btn btn-primary" style="color: white;" (click)="addField1()" >Add Field <img src="../../../../assets/plus-solid.svg" height="20px"></button>
                </div>
            </div>
            <form [formGroup]="fieldsForm1">
                <div formArrayName="fields1" class="row">
                    <div class="row" [formGroupName]="i1" *ngFor="let fieldValue of fieldsFormArray1.controls ; let i1=index">
                        <div class="col-sm-5 mt-3" >
                            <label class="fw-bold"> Field Name</label>
                            <input type="text" class="form-control" formControlName="field1">
                        </div>
                        <div class="col-sm-5 mt-3">
                            <label class="fw-bold">Data Type</label>
                            <input type="text" class="form-control" formControlName="dataType1">
                        </div>
                        <div class="col-sm-2 mt-5">
                            <img src="../../../../assets/trash-solid.svg" height="15px" (click)="removeForm1(i1)">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-7 justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Input your search...." [(ngModel)]="searchWord">
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary" style="color: white;" (click)="submitTableData()">Submit</button>
            </div>
            <div class="d-flex justify-content-center">
                <div class="loader mt-5" *ngIf="searched"></div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mb-4 align-items-center">
            <div id="search">
                <b> </b>
                <div id="result">
                    <b> </b>
                </div>
            </div>
        </div>
    </div>
</div>