.search-card {
    border-radius: 16px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 2px solid var(--theme-25);
    transition: all 0.3s;
    box-shadow: 1px 0px 5px var(--theme-25);
}
